# Dependencias
node_modules/
/node_modules
package-lock.json
dist/

# Archivos de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/.vscode/
.idea/

# Buildld


/dist/build/build
/dist